header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr;
    font-size: xx-large;
    text-align: center;
    background-image: url('./img/Bakgrund\ rubrik\ recept.png');
    background-size: cover;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 5fr 2fr;
    gap: 20px;
}

h1 {
    font-family: "Shojumaru", sans-serif;
    font-weight: 400;
    color: white
}

.Wok-Victor-mono {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
}

.wok-beskrivning {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: large;
    
}




.Recept-bakgrund-klass {
    border-radius: 35px;
    margin-top: 2.5%;
    height: fit-content;
    background-color: #f4d309;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steg-1-2-3-rubrik {
    font-size: x-large;
    text-align: center;
}

.steg-1-2-3 {
    background-color: #ffa107;
    height: fit-content;
    border-radius: 35px;
    margin-top: 2.5%;
    /* margin-left: 2.5%; */
    font-size: larger;
}

.steg-2-placering, .steg-1-2-3{
    grid-column: 2/3;
    grid-row: 1/3;

} 

.img-recept {
    width: 95%;
    border-radius: 7.5%;

}

.img-logo {
    height: 25%;
    margin-top: 7.5%;
    margin-left: 7.5%;
}

.img-logo-socialmedia {
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
}
