header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr;
    font-size: xx-large;
    text-align: center;
    background-image: url('./img/Bakgrund-cool-header.jpg');
    border-radius: 25px;
    border: solid white 1px;
    background-size: cover;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 5fr 2fr;
    gap: 20px;
    background-color: beige;
    border-radius: 25px;

}

h1 {
    font-family: "Shojumaru", sans-serif;
    font-weight: 400;
    color: white
}

h3{
    font-size: x-large;
}

footer{
    text-align: center;
    background-color: lightgray;
}


.Wok-Victor-mono {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
}

.wok-beskrivning {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: large;
}

.Recept-bakgrund-klass {
    border-radius: 35px;
    margin-top: 2.5%;
    height: fit-content;
    background-color: #f4d309;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steg-1-2-3-rubrik {
    font-size: x-large;
    text-align: center;
}

.steg-1-2 {
    background-color: #ffa107;
    height: fit-content;
    border-radius: 35px;
    margin-top: 2.5%;
    /* margin-left: 2.5%; */
    font-size: larger;
}

.steg-3-4{
    background-color: #ffa107;
    height: fit-content;
    border-radius: 35px;
    /* margin-left: 2.5%; */
    font-size: larger;
   
}
.steg-4-placering, .steg-3-4{
    grid-column: 2/3;
    grid-row: 2/2;
}
.steg-4-placering{
    margin-top: 55%;
    background-color: #ffa107;
    height: fit-content;
    border-radius: 35px;
    /* margin-left: 2.5%; */
    font-size: larger;
}

.steg-2-placering, .steg-1-2{
    grid-column: 2/3;
    grid-row: 1/2;
} 

.steg-2-placering{
    margin-top: 55%;
    align-content: space-evenly;
    height: fit-content;
    /* min-height: 25%; */
    /* width: fit-content; */
    background-color: #ffa107;
    border-radius: 35px;
    font-size: larger;
}

.img-recept {
    width: 95%;
    border-radius: 7.5%;

}

#ingredienser-lista{
    border:  solid black;
}

.butiker{
    background-color: #F2D2BD;
    /* text-align: center; */
    grid-row: 3/3;
    grid-column: 1/4;
    border-radius: 25px;
    margin-bottom: auto;
}

#ica-id{
    height: 25%;
    /* display: flex; */
    align-items: center;
}

#willys-id{
    height: 20%;
    margin-bottom: 10%;
    max-width: fit-content;
    width: 20% ;
    /* display: flex; */
    align-items: center;
    /* margin-bottom: 20%; */

}

.butik-text-header{
    text-align: center;
    font-size: 75px;
}

#coop-id{
    /* width: fit-content; */
    align-items: center;
    width: 40%;
    /* margin-bottom: 20%; */

}

.img-logo {
    height: 25%;
    margin-top: 7.5%;
    margin-left: 7.5%;
}

.yt-tiktok-klass
{
    height: 40%;
    grid-column: 3/3;
    grid-row: 1/3;
}
#tiktok-placering{
    height: 40%;
    grid-column: 3/3;
    grid-row: 1/3;
    margin-top: 65%;
}

.x-instagram-klass{
    height: 45%;
    border-radius: 25%;
    margin-left: 3.5%;
    /* display: flex; */
    /* justify-content: center; */
    grid-column: 3/3;
    grid-row: 2/3;
}

#instagram-placering{
    height: 50%;
    margin-top: auto ;
    margin-bottom: 25%;
    grid-column: 3/3;
    grid-row: 2/3;
}

footer{
    border-radius: 25px;
}